<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'SERVER.EDIT' | translate}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text="primary">{{ 'GENERIC.CANCEL' | translate }}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="list" [formGroup]="newServer" (ngSubmit)="save()">
    <ion-list>

      <ion-item>
        <ion-label stacked>{{ 'GENERIC.NAME' | translate }}</ion-label>
        <ion-input formControlName="name" type="text" placeholder="Name" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'SERVER.TOKEN' | translate }}</ion-label>
        <ion-input type="password" formControlName="token"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>URL</ion-label>
        <ion-input formControlName="url" type="text" placeholder="https://mylibrenms.server"></ion-input>
      </ion-item>

      <div formGroupName="basic">
        <ion-item>
          <ion-label>{{ 'AUTH.BASIC' | translate }}</ion-label>
          <ion-checkbox formControlName="enabled"></ion-checkbox>
        </ion-item>
      
        <ion-item *ngIf="newServer.value.basic.enabled">
          <ion-label stacked>{{ 'AUTH.USERNAME' | translate }}</ion-label>
          <ion-input formControlName="username" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="newServer.value.basic.enabled">
          <ion-label stacked>{{ 'AUTH.PASSWORD' | translate }}</ion-label>
          <ion-input formControlName="password" type="text"></ion-input>
        </ion-item>
      </div>

      <button ion-button full type="submit" [disabled]="!newServer.valid" color="favorite">{{ 'GENERIC.SAVE' | translate }}</button>

    </ion-list>
  </form>
  <button ion-button full color="danger" (click)="remove()">{{ 'GENERIC.REMOVE' | translate }}</button>

</ion-content>
