page-dashboard {
    .good {
        color: #008C00;
    }
    .bad {
        color: #CC0000;
    }
    .dis {
        color: grey;
    }
    .icon-bad {
        color: red;
    }
    .total {
        color: #337ab7;
    }
}
