<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'SERVICES' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list *ngFor="let item of items">
    <button ion-item *ngFor="let service of item" (click)="load_service(service)" class="item item-text-wrap">
      <h2>{{service.service_type}}</h2>
      <h3>
        {{service.service_ip}}
      </h3>
      <p>
        {{service.service_desc}}
      </p>
    </button>
  </ion-list>
</ion-content>
