new-server-model {
    .button-container {
        width: 100%;
        line-height: 100%;
        text-align: center;
        padding-top: 20px;
    }
    button {
        background-color: white;
        line-height: 100%;
        font-size: 24px;
    }
}
